{{define "title"}}My Account{{end}}

{{define "main"}}
    <h2>My Account</h2>
    {{with .User}}
     <table>
        <tr>
            <th>Role</th>
            <td>{{.Role}}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{.Username}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{.Email}}</td>
        </tr>
        <tr>
            <th>Joined</th>
            <td><time class="timezone" data-time="{{.Created}}"></time></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><a href="/account/password/update">Change password</a></td>
        </tr>
        <tr>
            <th>My created posts</th>
            <td><a href="/user/{{.ID}}/posts">Show my posts</a></td>
        </tr>
        <tr>
            <th>My liked posts</th>
            <td><a href="/user/liked">Show liked posts</a></td>
        </tr>
        {{if or (eq .Role "moderator") (eq .Role "admin")}}
        <tr>
            <th>Unapproved posts</th>
            <td><a href="/moderation/posts/unapproved">Show unapproved posts</a></td>
        </tr>
        {{end}}
    </table>
    {{end }}
{{end}}