{{define "title"}}My Account{{end}}

{{define "main"}}
    <h2>My Account</h2>
    {{with .User}}
     <table>
        <tr>
            <th>Role</th>
            <td>{{.Role}}</td>
        </tr> 
        {{if eq .Role "user"}}
        <tr>
           

            <th>Moderation Application</th>
            <td><a href="/moderation-application">Apply to be a moderator</a></td>
        </tr>
        {{end}}

        <tr>
            <th>Username</th>
            <td>{{.Username}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{.Email}}</td>
        </tr>
        <tr>
            <th>Joined</th>
            <td><time class="timezone" data-time="{{.Created}}"></time></td>
        </tr>
        <tr>
            <th>Account notification</th>
            <td><a href="/account/notification">Show notification</a></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><a href="/account/password/update">Change password</a></td>
        </tr>
        <tr>
            <th>My created posts</th>
            <td><a href="/user/{{.ID}}/posts">Show my posts</a></td>
        </tr>
        <tr>
            <th>My liked posts</th>
            <td><a href="/user/liked">Show liked posts</a></td>
        </tr>
        <tr>
            <th>My commented posts</th>
            <td><a href="/user/commented">Show commented posts</a></td>
        </tr>
        {{if or (eq .Role "moderator") (eq .Role "admin")}}
        <tr>
            <th>Unapproved posts</th>
            <td><a href="/moderation/posts/unapproved">Show unapproved posts</a></td>
        </tr>
        {{end}}
        {{if eq .Role "admin"}}
        <tr>
            <th>All post reports from moderators</th>
            <td><a href="/administration/reports">Show post reports</a></td>
        </tr>
        {{end}}
       
        {{if eq .Role "admin"}}
        <tr>
            <th>Moderation Applicants</th>
            <td><a href="/moderation-applicants">Show moderation applicants</a></td>
        </tr>
        {{end}}
        {{if eq .Role "admin"}}
        <tr>
            <th>Manage category</th>
            <td><a href="/edit/category">edit category</a></td>
        </tr>
        {{end}}
        {{if eq .Role "admin"}}
        <tr>
            <th>All moderators</th>
            <td><a href="/moderators/list">Show moderators list</a></td>
        </tr>
        {{end}}
    </table>
    {{end }}
{{end}}