{{define "title"}}My Account{{end}}

{{define "main"}}
    <h2>My Account</h2>
    {{with .User}}
     <table>
        <tr>
            <th>Username</th>
            <td>{{.Username}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{.Email}}</td>
        </tr>
        <tr>
            <th>Joined</th>
            <time class="timezone" data-time="{{.Created}}"></time>
        </tr>
        <tr>
            <th>Password</th>
            <td><a href="/account/password/update">Change password</a></td>
        </tr>
        <tr>
            <th>My created posts</th>
            <td><a href="/user/{{.ID}}/posts">Show my posts</a></td>
        </tr>
        <tr>
            <th>My liked posts</th>
            <td><a href="/user/liked">Show liked posts</a></td>
        </tr>
    </table>
    {{end }}
{{end}}