{{define "title"}}Create a New Post{{end}}

{{define "main"}}
<form action='/post/create' method='POST' enctype="multipart/form-data">
    <input type="hidden" name="token" value="{{.CSRFToken}}">
    <div>
        <label>Title:</label>
        {{if .Form}}
        {{with .Form.FieldErrors.title}}
            <label class='error'>{{.}}</label>
        {{end}}
        {{end}}
        <input type='text' name='title' value='{{.Form.Title}}'>
    </div>
    <div>
        <label>Content:</label>
        {{if .Form}}
        {{with .Form.FieldErrors.content}}
            <label class='error'>{{.}}</label>
        {{end}}
        {{end}}
        <textarea name='content'>{{.Form.Content}}</textarea>
    </div>
    <div>
        <label>Categories:</label>
        {{if .Form}}
        {{with .Form.FieldErrors.categories}}
            <label class='error'>{{.}}</label>
        {{end}}
        {{end}}
        <!-- Динамическое отображение категорий -->
        {{range .Categories}}
        <div>
            <input type='checkbox' name='categories' value='{{.ID}}' 
            {{if (contains $.Form.Categories .ID)}}checked{{end}}> {{.Name}}
        </div>
        {{end}}
    </div>
    <div>
        <div>
            {{if .Form}}
            {{with .Form.FieldErrors.image}}
                <label class='error'>{{.}}</label>
            {{end}}
            {{end}}
            <label for="image-upload">upload image</label>
            <input type="file" id="image-upload" name="image" multiple style="display: none;">

        </div>
        <input type='submit' value='Publish post'>
    </div>
</form>
{{end}}