{{define "title"}}Home{{end}}

{{define "main"}}
    <form method="POST" action="/">
        <input type="hidden" name="token" value="{{.CSRFToken}}">
        <label>Categories:</label>
        <!-- Динамическое отображение категорий -->
        {{range .Categories}}
        <div>
            <input type='checkbox' name='categories' value='{{.ID}}' 
            {{if (contains $.Form.Categories .ID)}}checked{{end}}> {{.Name}}
        </div>
        {{end}}
        <div>
            <input type='submit' value='Filter by categories'>
        </div>
    </form>
    <h2>All posts</h2>
    {{if .Posts}}
     <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
        </tr>
        {{range .Posts}}
        <tr>
            <td><a href='/post/view/{{.ID}}'>{{.Title}}</a></td>
            <td>{{humanDate .Created}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}

       <!-- Пагинация через форму -->
       <form method="POST" action="/">
        <input type="hidden" name="token" value="{{.CSRFToken}}">
        {{range .Form.Categories}}
            <input type="hidden" name="categories" value="{{.}}">
        {{end}}
        <div id="pagination">
            {{if gt .CurrentPage 1}}
            <button type="submit" name="page" value="{{sub .CurrentPage 1}}">Previous</button>
            {{end}}
    
            <span>Page {{.CurrentPage}}</span>
    
            {{if .HasNextPage}}
            <button type="submit" name="page" value="{{add .CurrentPage 1}}">Next</button>
            {{end}}
        </div>
    </form>
{{end}}