{{define "title"}}Login{{end}}

{{define "main"}}
<form action='/user/login' method='POST' novalidate>
    <input type="hidden" name="token" value="{{.CSRFToken}}">
    {{range .Form.NonFieldErrors}}
        <div class='error'>{{.}}</div>
    {{end}}
    <div>
        <label>Email:</label>
        {{with .Form.FieldErrors.email}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='email' value='{{.Form.Email}}'>
    </div>
    <div>
        <label>Password:</label>
        {{with .Form.FieldErrors.password}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='password'>
    </div>
    <div>
        <input type='submit' value='Login'>
    </div>
</form>
<div class="social-login">
    <a href="/auth/google/login" class="btn-google">
        <img src="/static/images/google-logo.png" alt="Google Logo">
        Sign in with Google
    </a>
    <a href="/auth/github/login" class="btn-github">
        <img src="/static/images/github-logo.png" alt="GitHub Logo">
        Sign in with GitHub
    </a>
</div>
{{end}}