{{define "title"}}Notifications{{end}}

{{define "main"}}
<h1>Your Notifications</h1>

{{if .Notifications}}
    <table>
        <tr>
            <th>Action</th>
            <th>Triggered By</th>
            <th>Post</th>
            <th>Notification Time</th>
        </tr>
        {{range .Notifications}}
        <tr>
            <td class="action-column">{{.Action}}</td>
            <td class="triggered-by-column">{{.TriggerUserName}}</td>
            <td>
                <a href='/post/view/{{.PostID}}'>
                    {{.PostTitle}}
                </a>
            </td>
            <td><time class="timezone" data-time="{{.Created}}"></time></td>
        </tr>
        {{end}}
    </table>
{{else}}
    <p>No notifications available.</p>
{{end}}
{{end}}