{{define "title"}}Post #{{.Post.ID}}{{end}}

{{define "main"}}
<div class='snippet'>
    {{with .Post}}
    <div class='metadata'>
        <span>{{.UserName}}</span>   
        <time class="timezone" data-time="{{.Created}}"></time>
        <br>
        <h1 class="post-title">{{.Title}}</h1>
    </div>
    <div class="post-content">
        <pre><code>{{.Content}}</code></pre>
    </div>
    {{end}}

    <div class="image-gallery">
        {{with .Images}}
          <div class="image-container">
            {{range .}}
              <img class="image-item" src="/{{.UrlImage}}" alt="">
            {{end}}
          </div>
        {{end}}
    </div>

    <div class="metadata">
        <form method="POST" action="/">
            <input type="hidden" name="token" value="{{.CSRFToken}}">
            <strong>Categories: </strong>
            <div class="categories">
                {{range .Categories}}
                <button type="submit" name="categories" value="{{.ID}}" class="category-link">{{.Name}}</button>
                {{end}}
            </div>
        </form>
    </div>
    {{$CSRFToken := .CSRFToken}}
    {{$userid := .User.ID}}

    {{if eq .User.ID .Post.UserID}}
    {{with .Post}}
    <div>
        <p class="error-message" style="color: red; font-size: 16px;">You can only delete your own post.</p>
    </div>

    <div>
        <form action="/post/delete" method="POST">
            <input type="hidden" name="token" value="{{$CSRFToken}}">
            <input type="hidden" name="post_id" value="{{.ID}}">
            <button type="submit" class="btn btn-delete delete-button">Delete post</button>
        </form>
    </div>

    <div>
        <p class="error-message" style="color: red; font-size: 16px;">You can only update your own post.</p>
    </div>

    <div>
        <form action="/post/edit/{{.ID}}" method="GET">
            <input type="hidden" name="token" value="{{$CSRFToken}}">
            <button type="submit" class="btn btn-delete delete-button">Update post</button>
        </form>
    </div>
    {{end}}
    {{end}}

    <!-- Лайки и дизлайки -->
    <div class='reaction-buttons'>
        <form method="POST" action="/post/view/{{.Post.ID}}">
            <input type="hidden" name="token" value="{{.CSRFToken}}">
            {{if eq .ReactionData.GetUserReaction 1}}
            <button type="submit" name="post_is_like" value="true" class="like-button">
                <span class="icon icon-like-active">{{.ReactionData.Likes}} 👍</span>
            </button>
            <button type="submit" name="post_is_like" value="false" class="dislike-button">
                <span class="icon icon-neutral">{{.ReactionData.Dislikes}} 👎🏿</span>
            </button>
            {{else if eq .ReactionData.GetUserReaction -1}}
            <button type="submit" name="post_is_like" value="true" class="like-button">
                <span class="icon icon-neutral">{{.ReactionData.Likes}} 👍🏿</span>
            </button>
            <button type="submit" name="post_is_like" value="false" class="dislike-button">
                <span class="icon icon-dislike-active">{{.ReactionData.Dislikes}} 👎</span>
            </button>
            {{else}}
            <button type="submit" name="post_is_like" value="true" class="like-button">
                <span class="icon icon-neutral">{{.ReactionData.Likes}} 👍🏿</span>
            </button>
            <button type="submit" name="post_is_like" value="false" class="dislike-button">
                <span class="icon icon-neutral">{{.ReactionData.Dislikes}} 👎🏿</span>
            </button>
            {{end}}
        </form>
    </div>

    {{with .Comments}}
    <ul class="comment-list">
        <h3>Comments</h3>
        {{range .}}
        <li class="comment">
            <div class="comment-metadata">
                <strong>{{.UserName}}</strong>
                <time class="comment-time timezone" data-time="{{.Created}}"></time>
            </div>
            <div class="comment-content">{{.Content}}</div>

            {{if eq .UserID $userid}}
            <!-- Удаление комментария -->
            <form action="/comment/delete" method="POST">
                <input type="hidden" name="token" value="{{$CSRFToken}}">
                <input type="hidden" name="comment_id" value="{{.ID}}">
                <input type="hidden" name="post_id" value="{{.PostID}}">

                <button type="submit" class="btn btn-delete delete-button">Delete Comment</button>
            </form>
            
            <!-- Обновление комментария -->
            <form action="/comment/edit/{{.ID}}" method="GET">
                <input type="hidden" name="token" value="{{$CSRFToken}}">
                <button type="submit" class="btn btn-delete delete-button">Update Comment</button>
            </form>
            {{end}}

            <form method="POST" action="/post/view/{{.PostID}}">
                <input type="hidden" name="token" value="{{$CSRFToken}}">
                <input type="hidden" name="comment_id" value="{{.ID}}">
                {{if eq .UserReaction 1}}
                <button type="submit" name="comment_is_like" value="true">
                    <span class="icon icon-like-active">{{.Like}} 👍</span>
                </button>
                <button type="submit" name="comment_is_like" value="false">
                    <span class="icon icon-neutral">{{.Dislike}} 👎🏿</span>
                </button>
                {{else if eq .UserReaction -1}}
                <button type="submit" name="comment_is_like" value="true">
                    <span class="icon icon-neutral">{{.Like}} 👍🏿</span>
                </button>
                <button type="submit" name="comment_is_like" value="false">
                    <span class="icon icon-dislike-active">{{.Dislike}} 👎</span>
                </button>
                {{else}}
                <button type="submit" name="comment_is_like" value="true">
                    <span class="icon icon-neutral">{{.Like}} 👍🏿</span>
                </button>
                <button type="submit" name="comment_is_like" value="false">
                    <span class="icon icon-neutral">{{.Dislike}} 👎🏿</span>
                </button>
                {{end}}
            </form>
        </li>
        {{else}}
        <p class="no-comments">No comments yet. Be the first to comment!</p>
        {{end}}
    </ul>
    {{end}}

</div>

{{if .IsAuthenticated}}
<!-- Форма для создания комментария -->
<div class="comment-section">
    <h3>Leave a Comment</h3>
    <form method="POST" action="/post/view/{{.Post.ID}}" class="comment-form">
        <input type="hidden" name="token" value="{{.CSRFToken}}">
        <input type="hidden" name="post_id" value="{{.Post.ID}}">
        {{with .Form}}
            <label class='error'>{{.FieldErrors.comment}}</label>
        {{end}}
        <textarea name="comment_content" placeholder="Write your comment here..." required class="comment-input"></textarea>
        <button type="submit" class="comment-submit-btn">Submit</button>
    </form>
</div>
{{else}}
<p class="custom-paragraph">You must <a href="/user/signup">signup</a> or <a href="/user/login">login</a> to leave a comment</p>
{{end}}
{{end}}
