{{define "title"}}Posts by {{.User.Username}}{{end}}

{{define "main"}}
    <h2>Posts by {{.User.Username}}</h2>
    {{if .Posts}}
     <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
        </tr>
        {{range .Posts}}
        <tr>
            <td><a href='/post/view/{{.ID}}'>{{.Title}}</a></td>
            <td>{{.Created}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}