{{define "pagination"}}
<form method="POST" action="{{.Pagination.PaginationAction}}">
    <input type="hidden" name="token" value="{{.CSRFToken}}">
    {{if .Form}}
        {{range .Form.Categories}}
        <input type="hidden" name="categories" value="{{.}}">
        {{end}}
    {{end}}
    <div id="pagination">
        {{if gt .Pagination.CurrentPage 1}}
        <button type="submit" name="page" value="{{sub .Pagination.CurrentPage 1}}" class="custom-button">Previous</button>
        {{end}}

        {{if .Posts}}
        <span>Page {{.Pagination.CurrentPage}}</span>
        {{end}}
        
        {{if .Pagination.HasNextPage}}
        <button type="submit" name="page" value="{{add .Pagination.CurrentPage 1}}" class="custom-button">Next</button>
        {{end}}
    </div>
</form>
{{end}}